[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

body{

        background: #ffffff;
        font-family: "metropolis-regular",sans-serif;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: normal;
        line-height: 1.875;
        color: #660000;
        margin: 0;
        padding: 0;
        }

        
.tabs{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgb(131, 14, 14);
    isolation: isolate;
    
}
.tab{
    cursor: pointer;
    padding: 10px;
    
}
.tab.active{
    background-color: #D4AF37;
    isolation: isolate;
}
.tab:hover{
    background-color: rgb(250, 229, 160);
    isolation: isolate;
}

.tab-content{
    margin-left: 20px;
    margin-right: 20px;
    
}
h1, p {
    font-family: Arial, sans-serif;
  }
  